/* CSS Document */
.menu-scroll {
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 300;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color:rgba(0,10,40, 0.6);
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s;
    height: 70px;
}

.main_menu_bg{
    margin-top: 0px;
    background-color:rgb(34, 36, 79);
	height:80px;
}
.main_menu_bg .navbar-default {
    background-color: transparent; 
    border-color: transparent; 
    transition: all .6s;
    margin: 0px auto;
}
 
b {
  font-size: 20px;
  color:#FFFFFF; 
  font-weight:700;
}

/*========*/

.form-wrapper {
	width: 450px;
	margin-top:0 px;
}

.form-wrapper #search {
	border: 1px solid #000;	
	border-radius: 3px;
  	color:#575757;
	float: left;
	font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
	height: 40px;
	padding: 10px;
	width: 320px;
	background-color:#F3F3F3;
}

.form-wrapper #search:focus {
	border-color: #aaa;
	-webkit-box-shadow: 0 1px 1px #bbb inset;
	-moz-box-shadow: 0 1px 1px #bbb inset;
	box-shadow: 0 1px 1px #bbb inset;
	outline: 0;
}

.form-wrapper #submit {
	background-color:#000066;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#31b2ff), to(#0483a0));
	background-image: -webkit-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -moz-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -ms-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -o-linear-gradient(top, #31b2c3, #0483a0);
	background-image: linear-gradient(top, #31b2c3, #0483a0);
	border: 1px solid #00748f;
	border-radius: 3px;
	color: #ffffff;
	cursor: pointer;
	height: 40px;
	float: right;
	font: 15px Arial, Helvetica;
	padding: 0;
	text-transform: uppercase;
	width: 100px;
}

.form-wrapper #submit:hover,
.form-wrapper #submit:focus {
	background-color: #31b2c3;
	background-image: -webkit-linear-gradient(top, #0483a0, #31b2c3);
	background-image: -moz-linear-gradient(top, #0483a0, #31b2c3);
	background-image: -ms-linear-gradient(top, #0483a0, #31b2c3);
	background-image: -o-linear-gradient(top, #0483a0, #31b2c3);
	background-image: linear-gradient(top, #0483a0, #31b2c3);
}

.form-wrapper #submit:active {
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	outline: 0;
}

/*----Left Pane----*/
.profile {
  margin: 90px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 100px 0 0 0;
  background:#F9F9F9;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  border: 6px solid transparent;
  border-color:#434343;
}

.profile-usertitle-name {
  color:#000066;
  font-size: 24px;
  font-weight: 600;
  margin-top:10px;
  font-family:'latoregular';
  text-transform:uppercase;
  text-align:center;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4d7;
}

.profile-usermenu ul li a {
  color:#575757;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color:#ABABAB;
  color:#424242;
}

.profile-usermenu ul li.active a {
  color:#181818;
  background-color: #e1edf7;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
  font-weight:600;
}

/* Profile Content */
.profile-content {
  padding-top: 120px;
  padding-left:40px;
  background: #fff;
  min-height: 460px;
}


.section {
  padding: 40px 0;
  font-size:20px;
  color:#4A4A4A;
  }
.section-header {
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
}
.section-header .section-title {
  font-size: 42px;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 100;
  color: #0d3559;
  position: relative;
}
.section-header .section-title span {
  color: #4676fa;
}
.section-header .section-subtitle {
  margin-top: 15px;
  color: #333;
  font-size: 20px;
  font-weight: 400;
  line-height:1.8;
}
.section-header .lines {
  margin: auto;
  width: 70px;
  position: relative;
  border-top: 2px solid #346afe;
  margin-top: 15px;
}
.section-header .lines:before {
  position: absolute;
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  top: -10px;
  border: 4px solid #fff;
  border-radius: 50%;
  background: #4676fa;
  left: 27px;
}

/* ==========================================================================
   Screenshots Section Start
   ========================================================================== */
#screenshots {
  background: #f2f2f2;
}
.shot-item {
  margin-right: 15px;
  padding: 8px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.6);
}
.shot-item img {
  width: 100%;
}
.shot-item .overlay1 {
  display: block;
  position: relative;
}
.shot-item .overlay1:before,
.shot-item .overlay1:after {
  position: absolute;
  content: "";
  height: 30%;
  width: 30%;
  background:#3399FF;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.shot-item .overlay1:before {
  top: 0;
  left: 0;
  z-index: 1;
}
.shot-item .overlay1:after {
  bottom: 0;
  right: 0;
  z-index: 1;
}
.shot-item:hover .overlay1:before {
  height: 50%;
  width: 100%;
  opacity: 0.8;
}
.shot-item:hover .overlay1:after {
  height: 50%;
  width: 100%;
  opacity: 0.8;
}
.overlay1 .item-icon {
  height: 48px;
  width: 48px;
  line-height: 48px;
  color: #fff;
  left: 50%;
  margin-left: -24px;
  margin-top: -24px;
  top: 50%;
  position: absolute;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  text-align: center;
  font-size: 24px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.shot-item:hover .item-icon {
  visibility: visible;
  opacity: 1;
}
/* ==========================================================================
   Portfolio Section
   ========================================================================== */
#portfolios {
  background:#FFFFFF;
}
#portfolios .mix {
  padding: 10px;
}
#portfolios .portfolio-item .shot-item {
  margin: 0px;
}
#portfolio-list .mix {
  display: none;
}
.portfolio-img {
  overflow: hidden;
  display: block;
  position: relative;
  height:70px;
}
.portfolio-img img {
  width: 100%;
}
.portfoli-content {
  width: 100%;
  position: absolute;
  height: 100%;
  opacity: 0;
  top: 0;
  -webkit-transition: opacity 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.portfoli-content:before {
  background-color: rgba(1, 3, 7, 0.8);
  top: 0px;
  left: 0px;
  bottom: 15px;
  right: 30px;
  content: '';
  position: absolute;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.portfolio-item:hover .portfoli-content,
.portfolio-item:hover .portfoli-content:before {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.portfolio-item:hover .sup-title {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.portfolio-item:hover .sup-description {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
