/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 Mar, 2018, 1:21:21 AM
    Author     : rushi
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.view__more {
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px 40px;
  background: #616fa5;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.view__more:hover {
  background: #717eae;
}

body {

  font-family: 'Lato', sans-serif;
  overflow:hidden;
}
.color1
{
 background-color:rbga(0,50,50,1);
 }

a {
  text-decoration: none;
  color: inherit;
}

.panel {
  width: 600px;
  margin: auto;
}
.panel__menu {
  width: 100%;
  float:left;
  margin: 60px 0 30px;
  position:relative;
}
.panel__menu.second-box hr {
  -webkit-transform: translateX(325%);
          transform: translateX(310%);
}

.panel__menu hr {
  position: absolute;
  top: 100%;
  width: 20%;
  -webkit-transform: translateX(75%);
          transform: translateX(75%);
  border: none;
  background:#FFFFFF;
  height: 3px;
  margin: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.panel__menu li {
  width: 50%;
  text-align: center;
  float: left;
  cursor: pointer;
  text-decoration:none;
}
.panel__menu li a {
  color: #fff;
  display: inline-block;
  padding: 17px 17px;
  text-transform: uppercase;
  background:transparent;
}

.panel__menu li>a:focus{
background-color:transparent;
color:#666666;
}

.panel__wrap {
  width: 100%;
  
  position: relative;
}
.panel__wrap .panel__box label {
  opacity: 0;
}
.panel__wrap .panel__box:first-child {
  left: 0;
  -webkit-transform: translateX(30%) scale(0.8);
          transform: translateX(30%) scale(0.8);
  -webkit-animation: box-1--out 0.5s;
          animation: box-1--out 0.5s;
  -webkit-transform-origin: center right;
          transform-origin: center right;
}
.panel__wrap .panel__box:first-child.active {
  -webkit-transform: translateX(35%);
          transform: translateX(35%);
  -webkit-animation: box-1 0.5s;
          animation: box-1 0.5s;
}
.panel__wrap .panel__box:last-child {
  right: 0;
  -webkit-transform: translateX(-30%) scale(0.8);
          transform: translateX(-30%) scale(0.8);
  -webkit-animation: box-2--out 0.5s;
          animation: box-2--out 0.5s;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}
.panel__wrap .panel__box:last-child input[type="submit"] {
  float: right;
  cursor: pointer;
  border: none;
  padding: 11px 40px;
  background: #101110;
  border-radius: 30px;
  color: #fff;
}
.panel__wrap .panel__box:last-child.active {
  -webkit-animation: box-2 0.5s;
          animation: box-2 0.5s;
  -webkit-transform: translateX(-35%);
          transform: translateX(-25%);
}
.panel__box {
  width: 50%;
  float: left;
  z-index: 1;
  position: absolute;
  padding: 20px;
  background: #1F2C35;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.panel__box.active {
  background: #fff;
  z-index: 2;
}
.panel__box.active label, .panel__box.active input {
  opacity: 1;
}
.panel__box label {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  color: #5d6363;
  font-size:16px;
}
.panel__box input {
  outline: none;
  opacity: 0;
}
.panel__box input[type="email"], .panel__box input[type="password"], .panel__box input[type="text"] {
  margin-top: 10px;
  width: 100%;
  float: left;
  background: #BDBEBF;
  border: 1px solid #C6D0DD;
  border-radius: 3px;
  padding: 7px 10px;
}
.panel__box input[type="submit"] {
  float: right;
  cursor: pointer;
  border: none;
  padding: 11px 40px;
  background: #101110;
  border-radius: 30px;
  color: #fff;
}

@-webkit-keyframes box-1 {
  0% {
    -webkit-transform: translateX(30%) scale(0.8);
            transform: translateX(30%) scale(0.8);
    z-index: 1;
  }
  49% {
    -webkit-transform: translateX(0) scale(0.9);
            transform: translateX(0) scale(0.9);
    z-index: 1;
  }
  50% {
    -webkit-transform: translateX(0) scale(0.9);
            transform: translateX(0) scale(0.9);
    z-index: 2;
    label, input {
      opacity: 0;
    }
  }
  100% {
    -webkit-transform: translateX(35%) scale(1);
            transform: translateX(35%) scale(1);
    z-index: 2;
    label, input {
      opacity: 1;
    }
  }
}

@keyframes box-1 {
  0% {
    -webkit-transform: translateX(30%) scale(0.8);
            transform: translateX(30%) scale(0.8);
    z-index: 1;
  }
  49% {
    -webkit-transform: translateX(0) scale(0.9);
            transform: translateX(0) scale(0.9);
    z-index: 1;
  }
  50% {
    -webkit-transform: translateX(0) scale(0.9);
            transform: translateX(0) scale(0.9);
    z-index: 2;
    label, input {
      opacity: 0;
    }
  }
  100% {
    -webkit-transform: translateX(35%) scale(1);
            transform: translateX(35%) scale(1);
    z-index: 2;
    label, input {
      opacity: 1;
    }
  }
}
@-webkit-keyframes box-1--out {
  0% {
    -webkit-transform: translateX(35%) scale(1);
            transform: translateX(35%) scale(1);
    z-index: 2;
    label {
      opacity: 1;
    }
  }
  49% {
    -webkit-transform: translateX(0) scale(0.9);
            transform: translateX(0) scale(0.9);
    z-index: 2;
  }
  50% {
    -webkit-transform: translateX(0) scale(0.9);
            transform: translateX(0) scale(0.9);
    z-index: 1;
    label, input {
      opacity: 1;
    }
  }
  100% {
    -webkit-transform: translateX(30%) scale(0.8);
            transform: translateX(30%) scale(0.8);
    z-index: 1;
    label, input {
      opacity: 0;
    }
  }
}
@keyframes box-1--out {
  0% {
    -webkit-transform: translateX(35%) scale(1);
            transform: translateX(35%) scale(1);
    z-index: 2;
    label {
      opacity: 1;
    }
  }
  49% {
    -webkit-transform: translateX(0) scale(0.9);
            transform: translateX(0) scale(0.9);
    z-index: 2;
  }
  50% {
    -webkit-transform: translateX(0) scale(0.9);
            transform: translateX(0) scale(0.9);
    z-index: 1;
    label, input {
      opacity: 1;
    }
  }
  100% {
    -webkit-transform: translateX(30%) scale(0.8);
            transform: translateX(30%) scale(0.8);
    z-index: 1;
    label, input {
      opacity: 0;
    }
  }
}
@-webkit-keyframes box-2 {
  0% {
    -webkit-transform: translateX(-30%) scale(0.8);
            transform: translateX(-30%) scale(0.8);
    z-index: 1;
  }
  49% {
    -webkit-transform: translateX(0) scale(0.9);
            transform: translateX(0) scale(0.9);
    z-index: 1;
  }
  50% {
    -webkit-transform: translateX(0) scale(0.9);
            transform: translateX(0) scale(0.9);
    z-index: 2;
    label, input {
      opacity: 0;
    }
  }
  100% {
    -webkit-transform: translateX(-35%) scale(1);
            transform: translateX(-35%) scale(1);
    z-index: 2;
    label, input {
      opacity: 1;
    }
  }
}
@keyframes box-2 {
  0% {
    -webkit-transform: translateX(-30%) scale(0.8);
            transform: translateX(-30%) scale(0.8);
    z-index: 1;
  }
  49% {
    -webkit-transform: translateX(0) scale(0.9);
            transform: translateX(0) scale(0.9);
    z-index: 1;
  }
  50% {
    -webkit-transform: translateX(0) scale(0.9);
            transform: translateX(0) scale(0.9);
    z-index: 2;
    label, input {
      opacity: 0;
    }
  }
  100% {
    -webkit-transform: translateX(-35%) scale(1);
            transform: translateX(-35%) scale(1);
    z-index: 2;
    label, input {
      opacity: 1;
    }
  }
}
@-webkit-keyframes box-2--out {
  0% {
    -webkit-transform: translateX(-35%) scale(1);
            transform: translateX(-35%) scale(1);
    z-index: 2;
  }
  49% {
    -webkit-transform: translateX(0) scale(0.9);
            transform: translateX(0) scale(0.9);
    z-index: 2;
  }
  50% {
    -webkit-transform: translateX(0) scale(0.9);
            transform: translateX(0) scale(0.9);
    z-index: 1;
    label, input {
      opacity: 1;
    }
  }
  100% {
    -webkit-transform: translateX(-30%) scale(0.8);
            transform: translateX(-30%) scale(0.8);
    z-index: 1;
    label, input {
      opacity: 0;
    }
  }
}
@keyframes box-2--out {
  0% {
    -webkit-transform: translateX(-35%) scale(1);
            transform: translateX(-35%) scale(1);
    z-index: 2;
  }
  49% {
    -webkit-transform: translateX(0) scale(0.9);
            transform: translateX(0) scale(0.9);
    z-index: 2;
  }
  50% {
    -webkit-transform: translateX(0) scale(0.9);
            transform: translateX(0) scale(0.9);
    z-index: 1;
    label, input {
      opacity: 1;
    }
  }
  100% {
    -webkit-transform: translateX(-30%) scale(0.8);
            transform: translateX(-30%) scale(0.8);
    z-index: 1;
    label, input {
      opacity: 0;
    }
  }
}



.menu-scroll {
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 300;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color:rgba(0,10,40, 0.6);
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s;
    height: 70px;
}


.main_menu_bg{
    margin-top: 0px;
    background-color: transparent;
}
.main_menu_bg .navbar-default {
    background-color: transparent; 
    border-color: transparent; 
    transition: all .6s;
    margin: 0px auto;
}
 .a{
 text-decoration: none;
 background-color: none;
 }
 
 a:visited {
    background-color: none;
}





.navbar-default .navbar-nav>li>a:hover{  
background-color:#000000;
}







.navbar-default .navbar-na>li>a:focus{
    color:transparent; 
	background:#999999;
    font-weight: bold;
}
.main_menu_bg .navbar {}







.main_menu_bg .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    color: #fff;
    background: transparent;
    font-weight: bold;
}

.main_menu_bg .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 0.875rem;
    color: #fff;
}
.navbar-brand>img {
    max-width: 80%;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    background-color:#999999;
    color:#f5c239;
}

 b {
  font-size: 15px;
  color:#FFFFFF;
  font-family:"Arial";
  font-weight:700;
  
}

.fontt{
font-size:24px;
color:#EAEAEA;
margin-left:100px;
}







.overlay {
    background-color: rgba(0,0,0, 0.4);
    width: 100%;
	height:660px;
}

.home{
    background:url(../assets/images/About-Us.jpg) no-repeat;
    background-size: cover;
	}

.texta{
padding-left:50px;
padding-top:200px;
font-size:48px;
color:#FFFFFF;
font-family:'latoregular';
}